body {
    font-family: century-gothic, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #333;
    background-color: #FFFEF1;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFEF1; 
    padding: 0rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0; 
    width: 100%; 
    z-index: 1;

  }

  nav a {
    text-decoration: none;
    color: #838383;
    margin: 0 2.5rem;
    font-size: 16px;
    font-weight: bold;
  }

  nav img {
    width: 90px;
    height: 90px;
  }

  nav a:hover {
    text-decoration: underline;
  }

  .hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/landingbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .hero-content {
    position: relative;
    text-align: center;
}

  .hero h1 {
    font-family: 'Chelsea Market';
    font-size: 70px;
    margin: 0;
    padding: 0;
    color: #FFFEF1; 
    -webkit-text-stroke: 0.1px #ff8c00;
  }


  .hero p {
    font-family: 'Chelsea Market';
    font-size: 30px;
    margin: 1rem;
    padding: 1rem;
    color: #FFFEF1;
    text-shadow: 2px 2px 5px gray;
  }

  .hero a {
    padding: 0.8rem 5.5rem;
    font-size: 15px;
    font-weight: bold;
  }

  .button {
    padding: 0.5rem 2.5rem;
    background-color:  #FFFEF1; 
    color:  #ff8c00; 
    text-decoration: none;
    border: 4px solid #ff8c00; 
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
  }

  .button:hover {
    background-color: #ff8c00; 
    border: 4px solid #FFFEF1; 
    color:  #FFFEF1; 
  }

  .cat2 {
    margin-left: 30rem;
    padding: 0rem;
  }



  .about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem;
    margin: 2rem;
    background-color: #FFFEF1; 
  }

  .about-text-images {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
  }
  
  .about-images {
    display: flex;
    flex-direction: row;
    gap: 1rem; 
  }

  .about-images-cat-dog {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
  }
  
  .about-images-cat-dog img {
    width: 200px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

  .about-images-bird img {
    width: 200px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  }
  
  .about-text {
    flex: 2;
    padding: 0 2rem;
    text-align: justify;
  }
  
  .about-text h2 {
    color: #ff8c00;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .about-text p {
    font-size: 1.5rem;
    color: #333;
    line-height: 1.5;
  }
  
  .about-services {
    flex: 1;
    text-align: right; 
    padding-left: 2rem;
  }
  
  .about-services h2 {
    color: #ff8c00;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: bold;
  }
  
  .contact {
    text-align: center;
    background-color: #FFFEF1; 
    padding: 2rem 1rem;
  }
  
  .contact h2 {
    font-size: 2.5rem;
    color:#FF8C00;
    margin-bottom: 1.5rem;
  }
  
  .map-place {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  
  .google-map iframe {
    border-radius: 10px;
    border: 2px solid #FF8C00;
  }
  
  .clinicplace img {
    width: 500px;
    height: auto;
    border-radius: 10px;
  }
  
  .details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .detail-item {
    background-color: #FFF;
    border: 2px solid #FF8C00;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 200px; 
  }
  
  .detail-item p {
    margin: 0.5rem 0;
  }
  
  .detail-item strong {
    color: #FF8C00;
    font-size: 1.1rem;
  }
  
  footer {
    background-color: #333;
    color:  #FFFEF1; 
    text-align: center;
    padding: 1rem 0;
  }